<%- include('./include/head.ejs') %>
</head>

<body>
    <%- include('./include/sidebar.ejs') %>
    <%- include('./include/navbar.ejs') %>
    <% if(isAuthenticated){ %>
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Course List</h4>
                            <div class="add-product">
                                <a href="#">Add Course</a>
                            </div>
                            <div class="asset-inner">
                                <table class=" table-hover">
                                    <tr>
                                        <th>No</th>
                                        <th>Image</th>
                                        <th>Name of Course</th>
                                        <th>Status</th>
                                        <th>Course Start Date</th>
                                        <th>Course Duration</th>
                                        <th>Department</th>
                                        <th>Course Professor</th>
                                        <th>Setting</th>
                                    </tr>
                                    <% let Num = 0 %>
                                    <% for (let c of courses) { %>
                                      <%  Num++ %>
                                    <tr>
                                        <td><%= Num %></td>
                                        <td><img src="<%=c.imageUrl%>"></td>
                                        <td><%= c.courseName %></td>
                                        <td>
                                            <button class="pd-setting">Active</button>
                                        </td>
                                        <td><%= c. courseStartDate%></td>
                                        <td><%= c.courseDuration %></td>
                                        <td><%= c.department %></td>
                                        <td><%= c.professorId.firstName %></td>
                                        <td>
                                            <form action="getEditCourse" method="POST" style="display:inline-block;">
                                                <input type="hidden" name="cId" value="<%= c._id%>"> 
                                                <button type="submit" class="fa fa-pencil-square-o btn btn-primary"></button>
                                              </form> 
        
                                              <!-- <a class="btn fa fa-pencil-square-o btn btn-info" ></a> -->
                                              <button type="button" class="fa fa-trash-o btn btn-primary" data-toggle="modal" data-target="#exampleModal"></button>
                                              
                      
                                              
                                            </td>
                                            <!-- delete modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <h1 style="text-align:center; ">Are you sure?</h1></br>
                                                    <h3>You will not be able to recover this imaginary !</h3>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    
                                                    <form action="/deleteCourse" method="POST" style="display:inline-block;" >
                                                      <input  type="hidden" name="courseId" value="<%= c._id%>"></input>
                                                      <button  type="submit" class="btn btn-primary">Delete</button>
                                                            </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <!-- end delet modal -->
                                    </tr>
                                    <% } %>
                                </table>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>

        <br><br> <br><br><br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br>
        <%- include('./include/footer.ejs') %> 
       
</body>

</html>